body {
    margin: 0;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 30px;
}

table,
tbody {
    display: block;
}

.header {
    margin-top: 11px;
    margin-bottom: 24px;
}

.logo td {
    margin: 10px;
}

.phone {
    text-align: right;
    padding-left: 128px;
}

.phone a {
    color: #25252c;
    font-size: 16px;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
}

.phone img {
    padding-right: 10px;
}

.clear {
    clear: both;
}

.phone p {
    color: #9999a6;
    font-size: 13px;
    font-style: italic;
    font-family: "Arial";
    text-align: right;
}

.label-banner {
    padding: 40px;
    text-align: center;
    background: #211f15 url(https://raw.githubusercontent.com/kostyantinkaschko/hatapluslatter/master/img/group1.jpg) no-repeat;
    background-size: cover;
    background-position: -250px;
}


.label-banner h1 {
    margin: 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.label-banner p {
    color: #ffffff;
    font-size: 14px;
    font-family: "Arial";
    text-align: center;
}

.price b,
.label-banner td h2 {
    color: #fd8300;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
}

.label-banner span {
    font-size: 40px;
}

.label-banner sup {
    font-size: 14px;
}

.main h2 {
    color: #24242b;
    font-size: 24px;
    font-weight: bold;
    font-family: "Arial";
}

.main p {
    color: #666;
    font-size: 14px;
    font-family: "Arial";
    line-height: 24px;
}

.main a {
    padding: 12px 20px 12px 20px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    font-family: "Arial";
    background: #fd8300;
    border-radius: 21px;
    text-decoration: none;
}

.content {
    padding: 30px;
    margin-top: 40px;
    background: #f5f5f5;
}

.content tr {
    margin-right: 10px;
}

.content th {
    color: #24242b;
    font-size: 14px;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}

.content td {
    color: #666;
    font-size: 13px;
    font-family: "Arial";
    text-align: center;
}

.homes {
    padding: 30px;
}

.home {
    color: #1f1f56;
    font-size: 16px;
    font-weight: bold;
    font-family: "Arial";
}

.home-par {
    color: #9999a6;
    font-size: 13px;
    font-family: "Arial";
}

hr {
    border-color: #ffffff;
}

.footer-before {
    background: url(img/container.png);
}


.footer-before h2 {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}

.footer-before td {
    text-align: center;
    padding-left: 104px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.footer-before p {
    color: #ffffff;
    font-size: 13px;
    font-family: "Arial";
    line-height: 20px;
}

.action {
    padding-bottom: 17px;
}

.footer-before a {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    font-family: "Arial";
    background: #1f1f56;
    border-radius: 40px;
    padding: 13px;
}

.footer {
    background: #08081a;
}

.footer p {
    color: #9999a6;
    font-size: 13px;
    font-family: "Arial";
    text-align: center;
}

.footer tbody {
    padding: 11px;
}

.footer td {
    padding-left: 140px;
}

.footer-hyperlink {
    background: #000014;
}

.footer-hyperlink td {
    padding-left: 215px;
}

.footer-hyperlink a {
    color: #fd8300;
    font-size: 11px;
    font-family: "Arial";
    text-align: center;
    text-decoration: none;
}